@import "tailwindcss";

@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --shadow-light: 4px 4px 0 #000;
  --shadow-dark: 4px 4px 0 #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}